<!doctype html>
<html>
<head>
	<title>
		Habit Rabbit
	</title>
</head>
<div class="container">
	<!--<h1>This is our exercise page</h1>-->
<body>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet"> 

	<div class = "header">
		<table style="width:50%">
			<tr>
				<th><h3>Exercise</h3> </th>
			</tr>
		</table>
	</div>
<!--Should read JSON file to update exercise list, with filtering system-->

	<div class = "exerciseList">

		<table style="width:50%">
			<tr>
					<td><a href="/exercisePage"><img class="img-responsive" src="https://www.acefitness.org/images/webcontentcategory/1.jpg" class="img-responsive"/></a> </td>
				<td><a href="/exercisePage"><h3>Wrist Exercise</h3></a> </td> 
				<td><img src="https://chewse-prod.s3.amazonaws.com/images/icon/home-heart.png" class="img-responsive"/>  </td>
			</tr>
			<tr>
				<td><a href="/exercisePage"><img class="img-responsive" src="https://www.acefitness.org/images/webcontentcategory/1.jpg" class="img-responsive"/></a> </td>
				<td><a href="/exercisePage"><h3>Arm Exercise</h3></a> </td>
				<td><img src="https://chewse-prod.s3.amazonaws.com/images/icon/home-heart.png" class="img-responsive"/>  </td>
			</tr>
			<tr>
				<td><a href="/exercisePage"><img class="img-responsive" src="https://www.acefitness.org/images/webcontentcategory/1.jpg" class="img-responsive"/> </a></td>
				<td><a href="/exercisePage"><h3>Elbow Exercise</h3> </a></td>
				<td><img src="https://chewse-prod.s3.amazonaws.com/images/icon/home-heart.png" class="img-responsive"/>  </td>
			</tr>
		</table>
	</div>

<!--Navigation bar, exercise tab active https://getbootstrap.com/components/#navbar-->
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li ><a href="/home">
					<span class="glyphicon glyphicon-home">Home</span></a></li>
				<li class="active"><a href="/exercises">
					<span class="glyphicon glyphicon-tint">Exercises<span></a></li>
				<li><a href="/favorites">
					<span class="glyphicon glyphicon-heart">Favorites<span></a><li>
			</ul>
		</div>
	</nav>

		<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="/js/bootstrap.min.js"></script>
</body>
</div>
</html>