<!doctype html>
<html>
<head>
	<title>
		Habit Rabbit
	</title>
</head>
<body>
<div class="container">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<link href="css/style.css" rel="stylesheet">
	<h1>
		This is our Favorites Page
	</h1>
	<img src="http://www.serebii.net/art/th/427.png" class="img-responsive"/>
	<a href="/exercises"><p>Exercises</p></a> 
	<a href="/home"><p>Home</p></a>
	<a href="/favorites"><p>Favorites</p></a>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>