<!doctype html>
<html>
<head>
	<title>
		Habit Rabbit
	</title>
</head>
<body>
<div class="container">

	<link href="css/style.css" rel="stylesheet">
	<h1>
			Favorites
	</h1>
	<img src="http://www.serebii.net/art/th/427.png" class="img-responsive"/>

	<div class = "Favorites">

		<table style="width:50%">
			<tr>
				
			</tr>
			<tr>
				
			</tr>
			<tr>
				
			</tr>
		</table>

	</div>

	<div class = "navigation">
		<table style="width:50%">
			<tr>
				<th><a href="/exercises"><p>Exercises</p></a> </th>
				<th><a href="/home"><p>Home</p></a>  </th>
				<th><a href="/favorites"><p>Favorites </p></a> </th>
			</tr>
		</table>
	</div>
		<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="/js/bootstrap.min.js"></script>
</body>
</html>

