<!doctype html>
<html>
<!--Basic mobile web page layout, source: http://www.w3schools.com/w3css/w3css_mobile.asp-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<head>
	<title>
		Habit Rabbit
	</title>
</head>
<body>
<div class="container">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/habitrabbit.js"></script>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet"> 

	<nav class="navbar navbar-default navbar-fixed-top mobile-bar">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li>
					<div id="back-button">
						<h5>
							<span class="glyphicon glyphicon-chevron-left">&nbsp&nbsp</span>
						</h5>
					</div>
				</li>
				<li><h4>&nbspHabit Rabbit Home</h4></li>
			</ul>
		</div>
	</nav>

	<h3>Select a Body Part!</h3>
	<div class = "body">
		<h2><a href="exercises">Head</a></h2>
		<h2><a href="exercises">Upper Body</a></h2>
		<h2><a href="exercises">Lower Body</a></h2>
		<h2><a href="exercises">Legs</a></h2>
	</div>

<!--Navigation bar, home tab active https://getbootstrap.com/components/#navbar-->
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/home">
					<span class="glyphicon glyphicon-home">Home</span></a></li>
				<li><a href="/exercises">
					<span class="glyphicon glyphicon-tint">Exercises<span></a></li>
				<li><a href="/favorites">
					<span class="glyphicon glyphicon-heart">Favorites<span></a><li>
			</ul>
		</div>
	</nav>


		<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		</body>
</div>
</html>