<!doctype html>
<html>
<head>
	<title>
		Habit Rabbit
	</title>
</head>
<div class="container">
<body>
	<link href="css/style.css" rel="stylesheet">

	<div class = "header">
		<table style="width:50%">
			<tr>
				<th><h3>Home</h3> </th>
				<th><a href="/exercises"><p>Done</p></a> </th>
			</tr>
		</table>
	</div>

	<div class = "body">
		<h2><a href="exercises">Head</a></h2>
		<h2><a href="exercises">Upper Body</a></h2>
		<h2><a href="exercises">Lower Body</a></h2>
		<h2><a href="exercises">Legs</a></h2>

	</div>



	<div class = "navigation">
		<table style="width:50%">
			<tr>
				<th><a href="/exercises"><p>Exercises</p></a> </th>
				<th><a href="/home"><p>Home</p></a>  </th>
				<th><a href="/favorites"><p>Favorites </p></a> </th>
			</tr>
		</table>
	</div>

		<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		</body>
</div>
</html>