<!doctype html>
<html>
<head>
	<title>
		Habit Rabbit
	</title>
</head>
<div class="container">
<body>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<link href="css/style.css" rel="stylesheet">
	<h1>
		This is our Home Page
	</h1>
	<img src="http://www.serebii.net/art/th/427.png" class="img-responsive"/>
	<a href="exercises"><p>Exercises</p></a> 

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>