<!doctype html>
<html>
<head>
	<title>
		Habit Rabbit
	</title>
</head>
<body>
<div class="container">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet"> 
	<h1>
		This is our Home Page
	</h1>
	<img src="http://www.serebii.net/art/th/427.png" class="img-responsive"/>
	<!-- img-responsive make makes the image respond to css formating I think..-->
	<!-- Makes our links into buttons via bootstrap. 
	Source https://v4-alpha.getbootstrap.com/components/buttons/-->
	<!-- Made buttons, but we don't need buttons, we need a nav bar! -->


<!--Navigation bar, exercise tab active https://getbootstrap.com/components/#navbar-->
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/home">
					<span class="glyphicon glyphicon-home">Home</span></a></li>
				<li><a href="/exercises">
					<span class="glyphicon glyphicon-tint">Exercises<span></a></li>
				<li><a href="/favorites">
					<span class="glyphicon glyphicon-heart">Favorites<span></a><li>
			</ul>
		</div>
	</nav>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</div>
</body>
</html>