/* stylesheet for */

h1, h2, h3, h5 {
	color: goldenrod;
}

body {
	padding-top: 55px;
	padding-bottom : 65px;
}

/*
.navbar-nav { 
	width : 125px;
}
*/

.navbar-nav>li {
	/*margin:25px;*/
	width : 125px;
	max-height: 25px;
	text-align : center;
} 
/* Makes the navigation bar horizonal in mobile view 
source: http://stackoverflow.com/questions/30644563 */

.navbar-nav>li, .navbar-nav {
float: left !important;
}
/*Exercise CSS*/
.fav {
	position:absolute;
	right: 0px;
	width: 50px;
}

.img-thumbnail{
	max-height: 80px;
	max-width: 80px;
	border: none;
}

.exerciseName {
	white-space: nowrap;
	/* Makes the words appear on the same line*/
}

/*ExercisePage CSS*/
.exPageImage {
	max-height : 300px;
	max-width : 300px;
	/*padding-bottom: 85;*/
}

.exPageContent {
	padding-left:15px;
	padding-right:15px;
}

.whitespace {
	max-height : 200px;
	max-width : 200px;
}

.exDescription { 
	font-family : "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size : 18px;
}