/* stylesheet for */

h3{
	color:grey;
}

body {
	padding-top: 55px;
	padding-bottom : 65px;
}

/*http://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3*/
.navbar-default {
	background-image: none;
	background-color: #FFE657;
}

.home-title {
	display: block;
	margin: 0 auto;
	text-indent: 100px;
	color : grey;
	text-align:center;
}

.title {
	display: inline-block;
	margin: 0 auto;
	text-indent: 10px;
	color : grey;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-size:25;
	text-align:center;
}

/*Navigation Bar CSS*/

.navbar-nav>li {
	width : 125px;
	max-height : 25px;
	text-align : center;
}
/* Makes the navigation bar horizonal in mobile view 
source: http://stackoverflow.com/questions/30644563 */
.navbar-nav>li, .navbar-nav {
float: left !important;
}

.nav.navbar>li>a {
	color : orange;
}
/*Exercise CSS*/
.fav {
	position:absolute;
	right: 0px;
	width: 50px;
}

.img-thumbnail{
	max-height: 80px;
	max-width: 80px;
	border: none;
}

.exerciseName {
	white-space: nowrap;
	/* Makes the words appear on the same line*/
}

/*ExercisePage CSS*/
.exPageImage {
	max-height : 300px;
	max-width : 300px;
	/*padding-bottom: 85;*/
}

.exPageContent {
	padding-left:15px;
	padding-right:15px;
}

.whitespace {
	max-height : 200px;
	max-width : 200px;
}

.exDescription { 
	font-family : "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size : 18px;
}

/*Log in page CSS*/
.logo{
	display:block;
	height: 100%;
	width:100%;
	margin:auto;
}